
body, h1, h2, p{
    background-color: #FFFAFA;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 1.8rem;
}

p{
    font-size: 1.4rem;
    line-height: 1.6rem;
}


ul{
    font-size: 1.4rem;
}

.Otsikko{
    text-align: left;
    font-size: 3.1rem;
    margin-top: 0rem;
    margin-bottom: 0.2rem;
}

header{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center; 
    background-color: rgb(208, 175, 244); 
    font-size: 20px;
    margin-top: 0.1rem;
    margin-left: 0rem;
}

button{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(243, 209, 249);
    padding: 0.7rem;
    border-width: 0.05rem;
}

button:hover{
    background-color: #FFFAFA;
}


a:link {
    text-decoration: none;
    color: black; 
}

a:visited {
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

#vasen{
    width: 40%;
    text-align: left;
    padding: 1.1rem;
    padding-top: 0rem;
}

#oikea{
   width: 15%; 
   float: right;
   margin-top: 0rem;
}

#center{
    width: 80%;
    height: 50%;
    /*position: fixed;*/
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    padding-right: 30%;
    text-align: left;
    /*border: 1rem;
    border-color: black;
    border-style:solid;
    display: inline;*/
}